<article class="tweet-preview">
  <%= render partial: 'layouts/avatar', locals: { user: tweet.user } %>
  <h3><a href="<%= user_url(tweet.user) %>">@<%= tweet.user.username %></a></h3>
  <small><%= tweet.created_at %></small>
  <p><%= tweet.body %></p>
  <a class="tweet-detail" href="<%= tweet_url(tweet) %>">Details</a>
</article>