<article class="tweet-preview clear-fix">
  <section class="tweet-avatar">
    <img class="avatar" src="<%= tweet.user.avatar.url %>">
  </section>
  
  <section class="tweet-body">
    <h4>
      <a href="<%= user_url(tweet.user) %>">
        <%= tweet.user.name %> @<%= tweet.user.username %>
      </a>
    </h4>
    <small><%= tweet.created_at %></small>
    <p><%= tweet.display %></p>
    <a class="tweet-detail" href="<%= tweet_url(tweet) %>">Details</a>
  </section>
</article>