<% if @user.avatar.exists? %>
  <img class="show-avatar" src="<%= @user.avatar.url %>">
<% else %>
  <img class="show-avatar" src="<%= asset_url('default_avatar.png') %>">
<% end %>

<h2><%= @user.name %></h2>
<small>@<%= @user.username %></small>

<a href="<%= following_url %>">FOLLOWING</a>
<a href="<%= followers_url %>">FOLLOWERS</a>

<% if @user == current_user %>
  <a href="<%= edit_user_url(current_user) %>">Edit profile</a>
<% else %>
  <%= render partial: 'users/follow_button', locals: { user: @user } %>
<% end %>

<h3>Tweets</h3>

<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%= render partial: 'tweets/preview', locals: { tweet: tweet } %></li>
  <% end %>
</ul>