<%= render partial: 'layouts/avatar', locals: { user: @user } %>

<h2><%= @user.name %></h2>
<small>@<%= @user.username %></small>

<a href="<%= user_following_url(@user) %>">FOLLOWING</a>
<a href="<%= user_followers_url(@user) %>">FOLLOWERS</a>

<% if @user == current_user %>
  <a href="<%= edit_user_url(current_user) %>">Edit profile</a>
<% else %>
  <%= render partial: 'users/follow_button', locals: { user: @user } %>
<% end %>

<h3>Tweets</h3>

<%= render partial: 'tweets/tweets', locals: { tweets: @user.tweets } %>