<div class="user-card">
  <header class="user-card-banner"></header>
  <main class="user-card-main">
    <%= render partial: 'layouts/user_card_info', locals: { user: user } %>

    <ul class="user-card-links clear-fix">
      <li>
        <a href="<%= user_url(user) %>">
          <small>TWEETS</small>
          <h3><%= user.tweets.count %></h3>
        </a>
      </li>
      <li>
        <a href="<%= following_user_url(user) %>">
          <small>FOLLOWING</small>
          <h3><%= user.followeds.count %></h3>
        </a>
      </li>
      <li>
        <a href="<%= followers_user_url(user) %>">
          <small>FOLLOWERS</small>
          <h3><%= user.followers.count %></h3>
        </a>
      </li>
    </ul>
  </main>

  <footer class="user-card-footer">
    <div>Compose new Tweet...</div>
  </footer>
</div>







