<% if current_user.avatar.exists? %>
  <img class="home-avatar" src="<%= current_user.avatar.url %>">
<% else %>
  <img class="home-avatar" src="<%= asset_url('default_avatar.png') %>">
<% end %>

<h2>
  <a href="<%= user_url(current_user) %>">
    <%= current_user.name %>
  </a>
</h2>

<small>
  <a href="<%= user_url(current_user) %>">
    @<%= current_user.username %>
  </a>
</small>

<h1>Tweets</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= render partial: 'tweets/preview', locals: { tweet: tweet } %></li>
  <% end %>
</ul>