<main class="clear-fix">
  <section class="left-section">
    <img class="avatar" src="<%= current_user.avatar.url %>">
    <h2>
      <a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
    </h2>
    <small>
      <a href="<%= user_url(current_user) %>">@<%= current_user.username %></a>
    </small>
  </section>

  <section class="center-section">
    <ul class="tweets-list">
      <li class="tweets-list-top"><h1>Tweets</h1></li>
      <%= render partial: 'tweets/tweets', locals: { tweets: @tweets } %>
    </ul>
  </section>
</main>

