<% tweets.forEach(function(tweet) { %>
  <li>
    <article class="tweet-preview clear-fix">
      <section class="tweet-avatar">
        <img class="avatar" src="<%= tweet.user().escape('avatar_url') %>">
      </section>
  
      <section class="tweet-body">
        <h4>
          <a href="#users/<%= tweet.user().id %>">
            <%= tweet.user().escape('name') %> @
            <%= tweet.user().escape('username') %>
          </a>
        </h4>
        <small><%= tweet.user().escape('created_at') %></small>
        
        <p><%= tweet.get('display') %></p>
        <a class="tweet-detail" href="#tweets/<%= tweet.id %>">
          Details
        </a>
      </section>
    </article>
  </li>
<% }); %>