<section class="left-section">
  <img class="avatar" 
    src="<%= currentUser.escape('avatar_url') %>">
  <h2>
    <a href="#users/<%= currentUser.id %>">
      <%= currentUser.escape('name') %>
    </a>
  </h2>
  <small>
    <a href="#users/<%= TwitterClone.currentUser.id %>">
      @<%= currentUser.escape('username') %>
    </a>
  </small>
</section>

<section class="center-section">
  <h1>Tweets</h1>
  <%= tweetsTemplate({ tweets: user.feed() }) %>
</section>
