<section class="left-section">
  <img class="avatar"
    src="<%= user.escape('avatar_url') %>">
  <h2>
    <a href="#users/<%= user.id %>">
      <%= user.escape('name') %>
    </a>
  </h2>
  <small>
    <a href="#users/<%= user.id %>">
      @<%= user.escape('username') %>
    </a>
  </small>
</section>

<section class="center-section">
  <h1>Tweets</h1>
  <ul class="tweets-list">
    <% tweets.forEach(function(tweet) { %>
      <%= JST['tweets/preview']({ user: tweet._user, tweet: tweet }) %>
    <% }); %>
  </ul>
</section>
