<header class="signed-in-header">
  <nav class="clear-fix">
    <ul class="left clear-fix">
      <li><a href="#">Home</a></li>
      <li><a href="<%= mentions_url %>">Notifications</a></li>
      <li><a href="#">Discover</a></li>
      <li><a href="#users/<%= current_user.id %>">Me</a></li>
    </ul>

    <ul class="center">
      <li>logo</li>
    </ul>

    <ul class="right clear-fix">
      <li><%= render partial: 'layouts/search' %></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#users/<%= current_user.id %>/edit">Settings</a></li>
      <li><%= render partial: 'layouts/sign_out_button' %></li>
      <li>
        <a id="new-tweet" href="#tweets/new">New Tweet</a>
      </li>
    </ul>
  </nav>
</header>