<ul>
  <li><a href="<%= root_url %>">Home</a></li>
  <li><a href="#">Notifications</a></li>
  <li><a href="#">Discover</a></li>
  <li><a href="<%= user_url(current_user) %>">Me</a></li>
  <li><a href="<%= users_url %>">Search</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="<%= edit_user_url(current_user) %>">Settings</a></li>
  <li>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <%= authenticity_token %>
      <button>Sign out</button>
    </form>
  </li>
  <li>
    <a href="<%= new_user_tweet_url(current_user) %>">
      Compose new Tweet
    </a>
  </li>
</ul>