<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',
    'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if signed_in? %>
    <%= render partial: 'layouts/header' %>
    <%#= render partial: 'layouts/tweet_new' %>
  <% end %>

  <%= render partial: 'layouts/errors',
    locals: { errors: flash[:errors] } if flash[:errors] %>
  <%= render partial: 'layouts/notices',
    locals: { notices: flash[:notices] } if flash[:notices] %>

  <%= yield %>

</body>
</html>
